<div class="suf">
  <h2><%= title %></h2>
  <div class="span8">
    <form action="/s" method="post" class="form-horizontal">
      <fieldset>
	<div class="control-group">
	  <label  for="focusedInput" class="control-label">username* </label>
	  <div class="controls">
	    <input  id="focusedInput"  class="input-xlarge focused"  name="newUser[userName]"  type="text" />
	  </div>
	</div>
	<div class="control-group">
	  <label  for="focusedInput" class="control-label">password* </label>
	  <div class="controls">
	    <input  id="focusedInput"  class="input-xlarge focused"  name="newUser[password]" type="password"  />
	  </div>
	</div>
<div class="control-group">
	  <label  for="focusedInput" class="control-label">confirm Password* </label>
	  <div class="controls">
	    <input  id="focusedInput" type="password" class="input-xlarge focused" name="newUser[confirmPassword]"  />
	  </div>
	</div>
	<div class="control-group">
	  <label  for="focusedInput" class="control-label">Email* </label>
	  <div class="controls">
	    <input  class="input-xlarge focused" name="newUser[email]"   type="text" id="focusedInput" />
	  </div>
	</div>
	<div class="control-group">
	  <label  for="focusedInput" class="control-label">first name* </label>
	  <div class="controls">
	    <input  class="input-xlarge focused" name="newUser[firstName]"  type="text" id="focusedInput"  />
	  </div>
	</div>
	<div class="control-group">
	  <label  for="focusedInput" class="control-label">last name* </label>
	  <div class="controls">
	    <input  class="input-xlarge focused" name="newUser[lastName]" type="text" id="focusedInput"  />
	  </div>
	</div>


	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">sign up</button>
	</div>
      </fieldset>
    </form>
  </div>
</div>
